PORT=4002
DB_TYPE=postgres
DB_USERNAME=postgres
DB_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=projectzoe-db
DB_SYNCHRONIZE=true
MAPS_URL=https://maps.googleapis.com/maps/api/place/details/json
MAPS_KEY=your-api-key-here
APP_URL=http://localhost:3000
SENDGRID_API=your-api-key-here
EMAIL_SENDER=example@email.com
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=public"
REACT_APP_SENTRY_DSN=sentry_dsn

TWILIO_AUTH_TOKEN=6452e391bbe713f0f4b258dcbacf084e
TWILIO_ACCOUNT_SID=ACa0cbcc749234ada6a9f82788a2ac419f
TWILIO_PHONE_NUMBER=+19726969941